/* checkout */
.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
  
.maincheckout {
  position: relative;
  border-radius: 8px;
  padding: 70px;
  width: 100%;
  max-width: 700px;
  height: max-content;
  margin: 150px 0 0;
}

.btn-close {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9991;
  color: #151C24;
  background: white;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  opacity: 1;
  text-align: center;
}
.wallet_icon{
  width: 100%;
  cursor: pointer;

}

#rk_connect_title{
color: #267d79 !important;
}
.ju367v2q{
  color: #267d79 !important;
}

.iekbcc0{
  color: #267d79 !important;
}
.ju367vz{
  background-color: #151C24 !important;
}
.ju367v9c{
  background: linear-gradient(90deg, #267d79, #37a6a0 25%, #3aaea8 50%, #37a6a0 75%, #267d79) !important;
  letter-spacing: .5px;
    padding: 0;
    border-radius: 15px;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    color: #fff !important;
    border: 0;
    background: var(--blue);
    background: linear-gradient(90deg, #267d79, #37a6a0 25%, #3aaea8 50%, #37a6a0 75%, #267d79);
    transition: all .3s ease;
    min-width: 250px !important;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.design-button{
  width: 166px;
    height: 41px;
}